@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.ttf');
}

.Buttons {
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
  border: none;
  color: #ededed;
  background-color: #22282f;
  cursor: pointer;
  font-size: medium;
}

.authenticatedContainer {
  display: flex;
  align-items: center;
}

.userName {
  font-family: Montserrat-Bold, sans-serif;
  margin-right: 10px;
}

.userName a {
  color: #ededed;
  text-decoration: none;
  font-family: Monserrat-Medium, sans-serif;
  font-size: 1rem;
}

.userName a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logoutIcon {
  width: 30px;
  height: 30px;
}
