@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/fonts/Lato-Regular.ttf');
}

.container {
  display: flex;
  align-items: center;
}

.imageContainer {
  width: 50%;
  height: 80vh;
  margin-left: 25px;
}

.image {
  height: 80vh;
  margin-right: 25px;
}

.contentContainer {
  width: 50%;
  height: 80vh;
  padding: 0 20px;
  border: #f9f9f9 1px solid;
  background-color: #f9f9f9;
  margin-left: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat-Bold, sans-serif;
  text-transform: uppercase;
  margin-top: 15vh;
  text-align: center;
  margin-bottom: 5vh;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

.authorId {
  font-size: 14px;
  color: #888;
  margin-top: 20px;
  font-family: Montserrat-Medium, sans-serif;
}
