.container {
  height: 80vh;
  width: 100vw;
  overflow-y: auto;
}

.postsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.cardImage {
  object-fit: cover;
}

.postsCard {
  position: relative;
  width: 100%;
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.postsCard:hover {
  transform: scale(1.1);
}

.cardTitle {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 1.5rem;
  color: #22282f;
  margin-bottom: 10px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  border: #ededed solid 2px;
  background: #ededed;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 2.4rem;
  color: #22282f;
  text-align: center;
}

.readMoreButton {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 1rem;
  color: #22282f;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 15%;
  text-align: center;

  .readMoreButton:hover {
    cursor: pointer;
  }
}
