@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/fonts/Lato-Regular.ttf');
}

// First Part of the page

.hotelDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  .hotelImage {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hotelName {
    position: relative;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    font-family: Montserrat-Bold, sans-serif;
  }

  .hotelInfo {
    display: flex;
    width: 100vw;

    .leftSide {
      flex: 1;
      width: 40vw;
      padding: 25px;
      color: #424242;
      background: #f9f9f9;
      border-bottom: 1px solid #424242;
    }

    .rightSide {
      flex: 1;
      width: 60vw;
      padding: 25px;
      color: #424242;
      border-left: 1px solid #424242;
      border-bottom: 1px solid #424242;
      background: #f9f9f9;
    }
  }

  .location {
    font-family: Montserrat-Medium, sans-serif;
    text-transform: uppercase;
    font-size: larger;
  }

  .price {
    font-family: Montserrat-Medium, sans-serif;
    font-size: small;
  }

  .rooms {
    font-family: Montserrat-Medium, sans-serif;
    font-size: small;
  }

  .description {
    font-family: Lato-Regular, sans-serif;
    font-size: larger;
  }

  .link {
    font-family: montserrat-medium, sans-serif;
    color: #424242;
  }

  .link a {
    text-decoration: none;
    color: #424242;
  }

  .link a:hover {
    text-decoration: underline;
    color: #424242;
  }

  // REVIEWS

  .reviewSection {
    display: flex;
    width: 100vw;
    flex: 1 1;
  }

  .reviewForm {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #22282f;
    background: #f9f9f9;
    text-align: center;

    .commentContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: Montserrat-Medium, sans-serif;
    }

    .ratingContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: Montserrat-Medium, sans-serif;
      margin-bottom: 10px;
    }

    .usernameContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: Montserrat-Medium, sans-serif;
      margin-bottom: 10px;

      input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 0.9rem;
        color: #22282f;
        font-family: Lato-Regular, sans-serif;
        box-sizing: border-box;
        text-align: center;
      }
    }

    .submitButton {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      background-color: #d9d3c7;
      color: #2c3238;
      font-size: 0.9rem;
      font-family: Montserrat-Medium, sans-serif;
      cursor: pointer;
      text-transform: uppercase;
    }

    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0.9rem;
      color: #22282f;
      font-family: Lato-Regular, sans-serif;
      box-sizing: border-box;
    }

    select {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0.9rem;
      color: #22282f;
      font-family: Lato-Regular, sans-serif;
      box-sizing: border-box;
    }
  }

  .reviewComments {
    flex: 1;
    width: 60vw;
    padding: 25px;
    color: #424242;
    background: #f9f9f9;
    overflow-y: auto;
    border-left: 1px solid #424242;
  }

  .reviewHeader {
    font-family: Montserrat-Bold, sans-serif;
  }

  .oneComment {
    background: #d9d3c7;
    color: #424242;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    margin-bottom: 20px;

    p {
      font-family: Lato-Regular, sans-serif;
    }

    .userName {
      font-family: Montserrat-Bold, sans-serif;
    }

    .rating {
      font-family: Montserrat-Medium, sans-serif;
    }

    .review {
      font-family: Lato-Regular, sans-serif;
    }
    ul {
      list-style: none;
    }
  }

  .scrollableReviews {
    height: calc(
      100vh - 120px
    ); /* Subtract the height of the header and form */
    overflow-y: auto;
  }

  .reviewList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

// Second Part of the page

.hotelInfo2 {
  display: flex;
  width: 100vw;
  flex: 1 1;

  .hotelImage2 {
    position: relative;
    width: 40vw;
    height: 100vh;
  }

  .column {
    flex: 1;
    padding: 25px;
    color: #424242;
    border-bottom: 1px solid #424242;
    background: #f9f9f9;
  }

  .hotelInfo3 {
    align-content: center;
    display: flex;
    flex-direction: column;

    h2 {
      font-family: Montserrat-Bold, sans-serif;
      text-align: center;
      font-size: 1.6rem;
    }

    p {
      font-family: Lato-Regular, sans-serif;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

.averageRating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .starRating {
    font-size: 24px;
    color: #ccc;
    text-align: center;

    p {
      font-family: Montserrat-Medium, sans-serif;
      text-transform: uppercase;
      font-size: larger;
      color: #22282f;
    }
  }

  .filledStar {
    color: gold;
  }
}
