.hotelsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotelsList {
  display: flex;
  overflow-x: scroll;
  align-self: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 2.5vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hotelCard {
  position: relative;
  flex: 0 0 calc(25% - 20px);
  margin-right: 25px;
  margin-left: 25px;
  background-color: #f9f9f9;
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.hotelCard:hover {
  transform: scale(1.1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 20px;
  z-index: 1;
  width: 100%;
}

.cardHeader {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.cardPara {
  font-family: Montserrat-Medium, sans-serif;
  font-size: 0.8rem;
  color: #fff;
}

.header {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 2.4rem;
  color: #22282f;
}
