.hotelsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.hotelsList {
  display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
  margin-top: 50px;
  align-self: center;
  align-items: center;
  width: 100vw;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hotelCard {
  flex: 0 0 calc(25% - 20px);
  margin-right: 25px;
  margin-left: 25px;
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.header {
  text-transform: uppercase;
}
