@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/fonts/Lato-Regular.ttf');
}

// First Part of the page

.hotelDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.hotelImage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotelName {
  position: relative;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  z-index: 1;
  font-family: Montserrat-Bold, sans-serif;
}

.hotelInfo {
  display: flex;
  width: 100vw;
}

.leftSide {
  flex: 1;
  width: 50vw;
  padding: 25px;
  color: #424242;
  background: #f9f9f9;
  border-bottom: 1px solid #424242;
}

.rightSide {
  flex: 1;
  width: 50vw;
  padding: 25px;
  color: #424242;
  border-left: 1px solid #424242;
  border-bottom: 1px solid #424242;
  background: #f9f9f9;
}

.location {
  font-family: Montserrat-Medium, sans-serif;
  text-transform: uppercase;
  font-size: larger;
}

.price {
  font-family: Montserrat-Medium, sans-serif;
  font-size: small;
}

.rooms {
  font-family: Montserrat-Medium, sans-serif;
  font-size: small;
}

.description {
  font-family: Lato-Regular, sans-serif;
  font-size: larger;
}

.link {
  font-family: montserrat-medium, sans-serif;
  color: #424242;
}

.link a {
  text-decoration: none;
  color: #424242;
}

.link a:hover {
  text-decoration: underline;
  color: #424242;
}

// Second Part of the page

.hotelInfo2 {
  display: flex;
  width: 100vw;
  padding: 25px;
  flex: 1 1;
}

.hotelImage2 {
  position: relative;
  width: 40vw;
  height: 100vh;
}

.rightSide2 {
  flex: 1;
  width: 60vw;
  padding: 25px;
  color: #424242;
  border-bottom: 1px solid #424242;
  background: #f9f9f9;

  h2 {
    font-family: Montserrat-Bold, sans-serif;
  }
}

// REVIEWS

.reviewSection {
  display: flex;
  width: 100vw;
  padding: 25px;
  flex: 1 1;
}

.reviewForm {
  position: relative;
  width: 40vw;
  height: 100vh;
}

.reviewComments {
  flex: 1;
  width: 60vw;
  padding: 25px;
  color: #424242;
  border-bottom: 1px solid #424242;
  background: #f9f9f9;
}

.reviewHeader {
  font-family: Montserrat-Bold, sans-serif;
}

.oneComment {
  background: #d9d3c7;
  color: #424242;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;

  p {
    font-family: Lato-Regular, sans-serif;
  }

  .userName {
    font-family: Montserrat-Bold, sans-serif;
  }

  .rating {
    font-family: Montserrat-Medium, sans-serif;
  }

  .review {
    font-family: Lato-Regular, sans-serif;
  }
  ul {
    list-style: none;
  }
}
