.registerpage {
  background-color: #22282f;
  height: 100vh; /* Set the height to fill the viewport */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
