.section1 {
  height: 1020px;
  width: 480px;
  border: 1px solid #ededed;
  background-color: #ededed;
  flex-direction: column;
}

.main1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: #2c3238;
}

.h2 {
  color: #2c3238;
}

/* Navbar */

/*.navbar {
  position: absolute;
  width: 480px;
  height: 115px;
  background-color: #d9d3c7;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}*/

.Button {
  /* Button Styling */
  width: 133.67px;
  height: 42px;
  background-color: #d9d3c7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 11px;
  margin-bottom: 10px;

  /* Text Styling */
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

/* Form Styling */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .label {
    margin-bottom: 10px;
    color: #2c3238;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
  }
}
